*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
min-height:100vh;
overflow:hidden;
font-family:'Caveat',cursive;
}

/* Background */

.bg{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;

background:
linear-gradient(
rgba(0,0,0,.45),
rgba(0,0,0,.45)
),
url("images/bg.jpg");

background-size:cover;
background-position:center;

z-index:-1;
}

/* Content */

.content{
position:absolute;
top:50%;
left:50%;

transform:
translate(-50%,-50%);

text-align:center;
color:white;

width:90%;
max-width:900px;
}

.content h1{
font-size:90px;
line-height:1.1;

text-shadow:
0 0 15px rgba(255,255,255,.5);
}

.subtitle{
font-size:40px;
margin-top:15px;
}

.emoji-text{
font-size:28px;
margin-top:20px;
}

/* Button */

#startBtn{
margin-top:25px;

padding:16px 40px;

border:none;

border-radius:50px;

background:#ffd54f;

font-size:24px;

cursor:pointer;
}

/* Emojis */

.emoji{
position:fixed;
font-size:55px;
cursor:pointer;
z-index:100;
}

/* Desktop */

.noodles{
top:120px;
left:120px;
}

.cupcake{
top:120px;
right:120px;
}

.pizza{
bottom:120px;
left:120px;
}

.cookie{
bottom:120px;
right:120px;
}

/* Popup */

.popup{
display:none;

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:
rgba(0,0,0,.75);

justify-content:center;
align-items:center;

z-index:999;
}

.popup-box{
background:white;

padding:30px;

border-radius:20px;

text-align:center;

max-width:90%;
}

.popup-box img{
width:450px;
max-width:100%;

border-radius:15px;
}

/* Mobile */

@media(max-width:768px){

.content{
top:50%;
width:90%;
}

.content h1{
font-size:58px;
line-height:1.2;
}

.subtitle{
font-size:26px;
}

.emoji-text{
font-size:20px;
}

#startBtn{
font-size:20px;
padding:14px 30px;
}

/* Emojis smaller */

.emoji{
font-size:38px;
}

/* Mobile ke liye corners */

.noodles{
top:15px;
left:8px;
}

.cupcake{
top:15px;
right:8px;
}

.pizza{
bottom:15px;
left:8px;
}

.cookie{
bottom:15px;
right:8px;
}

}